#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .navbar-brand a {
  font-size: 22px;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1.8em;
  color: #000000;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #5b5548;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #504a3f;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #000000;
}
#header2-3 P {
  text-align: left;
  font-size: 30px;
}
#header2-3 H1 {
  text-align: left;
  font-size: 80px;
}
#dropdown-menu-2btn-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4 .navbar-brand a {
  font-size: 22px;
}
#dropdown-menu-2btn-4 .nav .link,
#dropdown-menu-2btn-4 .dropdown-item {
  font-size: 1.8em;
  color: #000000;
}
#dropdown-menu-2btn-4 .navbar,
#dropdown-menu-2btn-4 .dropdown-menu {
  background: #5b5548;
}
#dropdown-menu-2btn-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4 .dropdown-menu a:hover,
#dropdown-menu-2btn-4 .dropdown-menu a:focus {
  background: #504a3f;
}
#dropdown-menu-2btn-4 .navbar-toggler {
  color: #000000;
}
#slider-6 P {
  text-align: center;
  font-size: 30px;
}
#dropdown-menu-2btn-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-7 .navbar-brand a {
  font-size: 22px;
}
#dropdown-menu-2btn-7 .nav .link,
#dropdown-menu-2btn-7 .dropdown-item {
  font-size: 1.8em;
  color: #000000;
}
#dropdown-menu-2btn-7 .navbar,
#dropdown-menu-2btn-7 .dropdown-menu {
  background: #5b5548;
}
#dropdown-menu-2btn-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-7 .dropdown-menu a:hover,
#dropdown-menu-2btn-7 .dropdown-menu a:focus {
  background: #504a3f;
}
#dropdown-menu-2btn-7 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-b .navbar-brand a {
  font-size: 22px;
}
#dropdown-menu-2btn-b .nav .link,
#dropdown-menu-2btn-b .dropdown-item {
  font-size: 1.8em;
  color: #000000;
}
#dropdown-menu-2btn-b .navbar,
#dropdown-menu-2btn-b .dropdown-menu {
  background: #5b5548;
}
#dropdown-menu-2btn-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-b .dropdown-menu a:hover,
#dropdown-menu-2btn-b .dropdown-menu a:focus {
  background: #504a3f;
}
#dropdown-menu-2btn-b .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-d .navbar-brand a {
  font-size: 22px;
}
#dropdown-menu-2btn-d .nav .link,
#dropdown-menu-2btn-d .dropdown-item {
  font-size: 1.8em;
  color: #000000;
}
#dropdown-menu-2btn-d .navbar,
#dropdown-menu-2btn-d .dropdown-menu {
  background: #5b5548;
}
#dropdown-menu-2btn-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-d .dropdown-menu a:hover,
#dropdown-menu-2btn-d .dropdown-menu a:focus {
  background: #504a3f;
}
#dropdown-menu-2btn-d .navbar-toggler {
  color: #000000;
}
